
<html>
<head>
  <title>To-do Task</title>
  <link href="css/bootstrap.min.css" rel="stylesheet">
  <link rel="icon" href="img/logo.png">
  <link href="https://fonts.googleapis.com/css?family=Nunito" rel="stylesheet">
  <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <link href="https://fonts.googleapis.com/css?family=Ubuntu" rel="stylesheet">
    <script src="js/request.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="js/bootstrap.min.js"></script>
    <link href="css/styles.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Arvo|Proza+Libre" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-mfizz/2.3.0/font-mfizz.css" rel="stylesheet">

</head>
<body>
  <nav class="navbar navbar-default nav-background navbar-fixed-top">
<div class="container-fluid">
  <!-- Brand and toggle get grouped for better mobile display -->
  <div class="navbar-header">
    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
      <span class="sr-only">Toggle navigation</span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
    <a class="navbar-brand " href="#" ><i class="fa fa-thumb-tack nav-color"></i> <b><span class="logo-fonts nav-color"> To-do Task</span></b></a>
  </div>

  <!-- Collect the nav links, forms, and other content for toggling -->
  <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
    <ul class="nav navbar-nav">


    </ul>

    <ul class="nav navbar-nav navbar-right">

      <li><a href="#myModal" data-toggle="modal" data-target="" ><span class="nav-color" >About</span></a></li>

    </ul>
  </div><!-- /.navbar-collapse -->
</div><!-- /.container-fluid -->
</nav>
<% if( typeof nodata !== "undefined")
{
  console.log(nodata);
} %>

<div class="container">

<div class="logo">
  <center>
      <img src="img/logo.png" width="400px" class="img img-responsive icons"/>
  </center>
</div>
<br/>

<br/>


  <div class="well">

    <label class="switch">
      <input type="checkbox"  class="check_main" onClick="abc()">
      <div class="slider"></div>

    </label>
    <br/>
      <br/>

        <center>
          <h2> What you want to do today?</h2>

        </center>


  <div class="input-group">

   <input type="text" class="form-control" name="task" id="task"  >
   <span class="input-group-btn">
        <button class="btn btn-default" type="Submit" id="post">Post</button>
   </span>




  </div>




<div class="currenttask">

  <% if (typeof incomplete !== "undefined")
  {
    if(incomplete.length == 0)
    {  %>
      <div class="notask-container">

        <div class="notasks">

          <center>

          </center>
          <h4>No Task Found</h4>
            Add a task using form above, or switch the toggle to see completed task

          </div>
    </div>

<%
    }

    for(var i=0; i<incomplete.length;i++)
      {


  %>
        <div class="tasks">
          <span class="check" %> ><input type="checkbox" class="check"  id=<%='check'+i%> value="" onclick="completetask(<%=incomplete[i].id%>,' incomplete ')"/></span><span class="text"><span class="title"><label for=<%='check'+i%> class="title"><%=incomplete[i].user_task%></label></span>  <br/>
          <span class="time">Created on <%=incomplete[i].time %></span></span>

        </div>


  <%
      }
    }   %>



</div>


<div class="completedtask">

  <% if(typeof complete !== "undefined"){



    if(complete.length == 0)
    {  %>


        <div class="notasks">

          <center>

          </center>
          <h4>No History Found</h4>
            complete some task first and comeback to see the task history

          </div>


<%
    }

  for( var i=0; i < complete.length; i++)
  {   %>

    <div class="c_tasks">

      <span class="check"><input type="checkbox" class="check"   id=<%='discheck'+i%> checked value="" onclick="completetask(<%=complete[i].id%>, ' complete ')" /></span><span class="text"><span class="title"><label for=<%='discheck'+i %>> <strike><%=complete[i].user_task%></strike></label></span>  <br/>
      <span class="time">Finished on <%=complete[i].time %></span></span>

    </div>


<%
  }

  }%>

  </div>

  </div>



</div>

<div id="myModal" class="modal fade" role="dialog">
<div class="modal-dialog">

<!-- Modal content-->
<div class="modal-content">
<div class="modal-header">
<button type="button" class="close" data-dismiss="modal">&times;</button>
<h4 class="modal-title"><center>
  ABOUT TO-DO TASK
</center></h4>
</div>
<div class="modal-body">
  <center>
    <img src="img/logo.png" width="100px;" />
  </center>
  <br/>
  <ul>
<li>
     To-do Task help you keep track of your task in timely fasion.
</li>
<li>
  It stores data on the Server using your browser as an identity.
</li>
<li>
  Built using Node.js, Express.js,moment.js,mongodb
</li>

<br/>


  </ul>


</div>

</div>

</div>
</div>








</div>





<div class="footer">
  <center>
    <span class="name">Developed by Jay Jariwala &copy; 2016 </span>
  </center>





</div>


</body>

</html>
